div.main {
  padding:20px;

  .hero-body {
    font-size:50px;
    color: #0b82ff;
    margin-bottom:20px;


  }
  .reply {
    background: #0074ff;
    font-weight:600;
    padding:10px;
    .reply-title {
      color: #ffe804;
      font-weight:900;
    }
  }

  .history {
    background: rgba(255, 207, 0, 0.63);
    color:darkblue;
    .history-date {
      font-size:9px;
      font-style:italic;
    }
  }

}
